[Unit]
Description=Basic Little Book of Answers
Documentation=https://github.com/DCSO/balboa
After=network.target

[Service]
SyslogIdentifier=balboa
EnvironmentFile=-/etc/default/balboa
ExecStart=/usr/bin/balboa serve $BALBOA_ARGS
ExecStop=/usr/bin/pkill balboa
PIDFile=/var/run/balboa/balboa.pid
LimitNOFILE=200000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
